@import url('https://fonts.googleapis.com/css2? family = Passion + One & display = swap');

/* COLORES*/
.green{
    color: #00681b;
}

.orange{
    color: #ff987d;
}



img{
    max-width: 100%;
}

.styleP{
    font-size: 0.8em;
}

.styleT{
    font-size:1.8em !important;
}

li{
    list-style: none;
}

h2, h3{
    font-family: 'Passion One', cursiva;;
     font-weight: 700;
     font-style: bold;
     color: #00681b;
     text-transform: uppercase;
}

h2{
    font-size: 2.1rem;
}

h3{
    font-size: 1.5rem;
}

.centrar{
    text-align: center;
    
}

#recetaSalada{
    height: 6.5em;
    margin: 1em -5%;
    padding: 2em 0.6em;
    text-align: left;
    background: url(../images/recetas_salada.png) no-repeat top right;

}

#recetaDulce{
    height: 6.5em;
    margin: 1em -5%;
    padding: 2em 0.6em;
    text-align: left;
    background: url(../images/recetas_dulces.png) no-repeat top right;

}

.carousel-inner{
    width: 80%;
}

#carouselExampleControls {
    text-align: -moz-center;
}

.d-Al{
    display: none;
}

.d-mobile   {
    display:none;
}

.styleT3{
    font-size: 1rem !important;
}

@media screen and (min-width: 481px) and (max-width: 800px){
    #recetaSalada{
        background: url(../images/recetas_salada_t.png) no-repeat top right;
    }
    
    #recetaDulce{
        background: url(../images/recetas_dulces_t.png) no-repeat top right;
    }

    .styleP{
        font-size: 1em;
    }
    
    .styleT{
        font-size:2.5em !important;
    }
    
}    
@media screen and (min-width: 801px) {

    .d-pc{
        display: flex;
    }

    #recetaSalada{
        background: url(../images/recetas_salada_p.png) no-repeat top right;
        
    }
    
    #recetaDulce{
        background: url(../images/recetas_dulces_P.png) no-repeat top right;
       
    }

    .styleP{
        font-size: 1.8em;
    }
    
    .styleT{
        font-size:3.3em !important;
    }
    
} 